.container {
	background-image: url ("https://cdn.theatlantic.com/assets/media/img/mt/2015/06/rbow-1/lead_960.jpg?1435518405");

}

#defaultButtons, #new-GIFs {
	width: 150px;
	height: 120px;
}

#userSearchTerm {
	width: 400px;
	text-align: center;
	position: relative;
	right: -425px;
	font-size: 20px;
}

.buttonClass {
	width: 130px;
	height: 80px;
	padding: 10px 10px;
	text-align: center;
	display: block;
}

#add-GIF {
	position: relative;
	right: -340px;
	top: -40px;
}

